@import "../styles/variables";

.about-services-2col{
    padding-top: 5rem;
    @media screen and (min-width: 991px) {
        padding-top: 8rem;
    }
     @media screen and (min-width: 1180px) {
        padding-top: 10rem;
    }
    .darken-head{
        font-size: clamp(17px, 1.5vw, 22px);
        color:$theme-dark-grey;
        font-weight: 600;
        margin-top: 1rem;
        max-width: 70rem;
        line-height: 1.4;
        @media screen and (min-width: 991px) {
            margin-top: 1.6rem;
        }
    }
    .about-services-area{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        .left-block{
            width: 100%;
             padding-bottom: 5rem;
        }
        .right-block {
            width: 100%;
            max-width: 40.7rem;
        }
        @media screen and (min-width: 991px) {
            flex-wrap: nowrap;
             .left-block{
                width: calc(100% - 45rem);
                padding-bottom: 8rem;
            }
            .right-block {
                width: 30%;
            }
        }
         @media screen and (min-width: 1180px) {
            .left-block{
                padding-bottom: 10rem;
            }
        }
       
        @media screen and (min-width: 1290px) {
             .left-block{
                width: calc(100% - 41rem);
            }
            .right-block {
                width: 25%;
                max-width: 39rem;
            }
        }
        @media screen and (min-width: 1350px) {
             .left-block{
                width: calc(100% - 45rem);
            }
            .right-block {
                width: 30%;
                max-width: 40.7rem;
            }
        }
    }
    .about-service-itemwrap{
        display: flex;
        gap:2rem;
       padding-top: 3.9rem;
       flex-wrap: wrap;
       @media screen and (min-width: 1180px) {
            flex-wrap: nowrap;
        }
    }
    .about-service-item{
        width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
        align-items: flex-start;
         gap:1.8rem;
         padding-bottom: 2.5rem; 
         border-bottom: 3px solid rgba($theme-blue,0.1);
         transition: 0.7s ease all;
        @media screen and (min-width: 580px) {
            width: calc(50% - 2rem);
           
        }
        @media screen and (min-width: 1180px) {
            width: calc(25% - 2rem);
        }
        .icon-blk{
            max-height: 4rem;
            min-height: 4rem;
            min-width: 4rem;
            max-width: 4.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                object-fit: contain;
                width: 100%;
                height:auto;
                transition: 0.7s ease all;
            }
        }
        &:hover,&:focus,&:active,&.active{
            border-bottom: 3px solid $theme-blue;
            transition: 0.7s ease all;
            .icon-blk img{
                transform: scale(1.1);
                transition: 0.7s ease all;
            }
        }
         
         h5{
            margin-bottom: 0.5rem;
            line-height: 1.3;
            color:$theme-black;
         }
         p{
           font-size: clamp(15px, 1vw, 16px);
            line-height: 1.75;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            @media screen and (min-width: 1300px) {
                font-size: 1.6rem;
            }
         }  
    }
   
}