@import "../styles/variables";
.banner-block{
    background: $theme-blue;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 85rem;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../public/assets/banner.png') no-repeat top center;
        background-size: cover;
        opacity: 0.2;
        mix-blend-mode: multiply;
        // mix-blend-mode: darken;
    }
    .banner-content{
        position: relative;
        z-index: 2;
    }
    .banner-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-wrap: wrap;
    }
    .banner-text{
        width: 100%;
    }
    h1{
        color:$theme-white;
        margin-bottom: 1.4rem;
    }
    .sub-text{
        color:$theme-white;
        font-size: clamp(15px, 1vw + 10px, 20px);
        font-weight: 500;
        margin-bottom: 3.6rem;
        line-height: 1.5;
        @media screen and (min-width: 991px) {
            line-height: 1.6;
        }
         @media screen and (min-width: 1300px) {
           font-size: 2rem;
        }
    }
    .counter-block{
        background-color: rgba($theme-white,0.9);
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 1.5rem;
        @media screen and (min-width: 680px) {
           padding: 2.2rem;
            gap: 1rem;
        }
        @media screen and (min-width: 991px) {
            padding: 2.6rem 3.6rem;
            gap: 2rem;
        }
         .counter-blk{
            display: flex;
            justify-content: center;
            align-items: center;
        }
         h3{
            font-size: clamp(2.2rem, 2.5vw + 1rem, 3.5rem);
            line-height: 1;
             @media screen and (min-width: 1300px) {
                font-size: 3.5rem;
            }
        }
         .counter-text{
            font-size: clamp(12px, 1vw, 18px);
            font-weight: 500;
            color: $theme-light-grey;
             @media screen and (min-width: 1300px) {
                font-size: 1.8rem;
            }
        }
        .counter-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            width:30%;
            gap:0.2rem;

            @media screen and (min-width: 680px) {
                width:calc(33.33% - 1rem);
            }
            @media screen and (min-width: 991px) {
                width:calc(33.33% - 2rem);
            }
            &::after{
                content: "";
                background-color: rgba($theme-blue,0.5);
                width: 0.1rem;
                height: 4.9rem;
                position: absolute;
                right: 0;
                top:50%;
                transform: translateY(-50%);
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
    
    @media screen and (min-width: 991px) {
        .banner-area {
            padding-top: 8rem;
            padding-bottom: 8rem;
            flex-wrap: nowrap;
        }
        .banner-text{
            width: 45%;
        }
    }
     @media screen and (min-width: 1180px) {
        .banner-area {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }
    
}