@import "../styles/variables";

.common-black-btn{
    border: none;
    background: $theme-black;
    border-radius: unset;
	color:$theme-white;
    font-size: clamp(15px, 1.25vw + 11px, 18px);
    font-weight: 700;
    line-height: normal;
    padding: 1rem 1.6rem;
    min-height: 4.5rem;
    max-height:4.5rem;
    min-width: 16.5rem;
    text-align: center;
	text-shadow: none;
	opacity: 1;
	width: fit-content;
	transition: 0.7s ease all;
    display: inline-block;
    position: relative;
    cursor: pointer;
	&:visited{
		transition: 0.7s ease all;
        color:$theme-white;
	}
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $theme-blue;
        transition: ease .7s all;
    }

    &:hover,&:focus,&:active{
        color: $theme-white;
      &:visited{
            background: transparent;
            color:$theme-white;
        }
    }

    &:hover:after,&:focus:after,&:active:after{
        width: 100%;
    }
    span{
         position: relative;
        z-index: 2;
    }
    
	
	@media screen and (min-width: 991px) {
		font-size: 1.8rem;
        min-width: 18.3rem;
        min-height: 4.6rem;
        max-height:4.6rem;
	}
}
.common-input-btn{
    border: none!important;
    border: 0.1rem solid transparent!important;
    background: $theme-black;
    border-radius: unset;
	color:$theme-white;
    font-size: clamp(16px, 1.25vw + 11px, 20px);
    font-weight: 700!important;
    line-height: normal;
    padding: 1rem 1.6rem;
    min-height: 4.5rem;
    max-height:4.5rem;
    min-width: 16.5rem;
    text-align: center;
	text-shadow: none;
	opacity: 1;
	width: 100%;
	transition: 0.7s ease all;
    display: inline-block;
    position: relative;
    cursor: pointer;
	&:visited,&:focus{
		transition: 0.7s ease all;
        color:$theme-white;
        background: $theme-black;
        border: 0.1rem solid transparent!important;
	}
    &:hover,&:active{
        color: $theme-black;
        background: $theme-white;
        border: 0.1rem solid $theme-black!important;
      &:visited,&:focus{
            color: $theme-black;
            background: $theme-white;
        }
    }
    @media screen and (min-width: 991px) {
		font-size: 2rem;
        min-height: 5rem;
        max-height:5rem;
	}
    &.inputWhite-btn{
        border: none!important;
        background:$theme-white;
        color: $theme-black;
        &:visited,&:focus{
            transition: 0.7s ease all;
            background:$theme-white;
            color: $theme-black;
        }
        &:hover,&:active{
            color: $theme-white;
            background: $theme-black;
        &:visited,&:focus{
                color: $theme-white;
            background: $theme-black;
            }
        }
    }
}

.common-btn-blk{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-block{
    display: flex;
    max-width: 100rem;
    flex-direction: column;
    gap:0.8rem;
    padding-bottom: 2.2rem;
     @media screen and (min-width: 991px) {
        padding-bottom: 3.5rem;
     }
    h2{
        color:$secondary-color;
        line-height: 1.1;
        @media screen and (min-width: 991px) {
            line-height: 1.2;
        }
    }
    &.white-text{
        h2{
            color:$theme-white;
        }
    }
    .sub-head{
        font-weight: 400;
        font-size: clamp(18px, 2vw, 25px);
        color:$theme-white;
        @media screen and (min-width: 1300px) {
            font-size: 2.5rem;
        }
    }
    .min-head{
        font-weight: 400;
        font-size: clamp(16px, 1.5vw, 20px);
        color:$theme-light-grey;
        @media screen and (min-width: 1300px) {
            font-size: 2rem;
        }
    }
    .min-s-head{
        font-weight: 400;
        font-size: clamp(15px, 1.2vw, 18px);
        color:$theme-light-grey;
        line-height: 1.78;
        @media screen and (min-width: 1300px) {
            font-size: 1.8rem;
        }
    }
    &.center-align{
        align-items: center;
        justify-content: center;
         margin: 0 auto;
         h2{
            text-align: center;
        }
        .sub-head,.min-head{
          text-align: center;
        }
    }
    &.left-align{
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 ;
        h2{
            text-align: left;
        }
        .sub-head,.min-head{
          text-align: left;
        }
    }

}
/* list */
.list-itemblk{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            font-size: clamp(1.6rem, 1vw + 1.2rem, 2rem);
            padding-left: 3.4rem;
            position: relative;
            margin-bottom: 0.5rem;
            &::before{
                content: "";
                background: url('../../public/assets/star2.svg') no-repeat center center;
                background-size: contain;
                width: 1.7rem;
                height: 1.7rem;
                position: absolute;
                top: 1rem;
                left: 0;
            }
            @media screen and (min-width: 1200px) {
            font-size: 2rem;
            }
            strong{
                font-weight: 600;
            }
             
        }
    }
}
/* grid area */
.col4-gridarea{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1080px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.col3-gridarea{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media screen and (min-width: 1080px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
// .scroll-animate {
//   opacity: 0;
//   transform: translateY(30px);
//   transition: opacity 0.6s ease, transform 0.6s ease;
//   will-change: transform, opacity;
// }

// /* Once visible */
// .scroll-animate.visible {
//   opacity: 1;
//   transform: translateY(0);
// }


