@import "../styles/variables";

.header_block{
    background-color: $theme-white;
    &.is-sticky{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
        animation: stickyFade 0.7s ease forwards;
        box-shadow: 0px 10px 35px 0px #6296CB40;
    }
    .header_area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        transform-origin: top; 
        transition: transform 0.2s ease;
    }
    .main-navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100vh;
        background-color: $theme-white;
        transition: right 0.4s ease;
        z-index: 8;
        display: flex;
        justify-content: center;
        align-items: center;
        &.menu-active {
            right: 0;
        }
    }
    body.no-scroll {
        overflow: hidden;
    }
    .mobile-menu{
        display: block;
        cursor: pointer;
        .menu-icon{
            width: 32px;
            height: 32px;
            position: relative;
            z-index: 10;
            cursor: pointer;
            .mobile-close{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }
            .mobile-open{
                display: block;
            }
        }
    }
    .get-in-touch{
        position: absolute;
        right: 8rem;
    }
    @media screen and (min-width: 680px) {
        .get-in-touch{
            right: 10rem;
        }
    }
    .main-navigation .hdr_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        transition: gap 0.5s ease;
        flex-direction: column;
    }
    .main-navigation li a{
        font-size: 2.2rem;
        font-weight: 600;
        color: $theme-dark-grey;
        position: relative;

        background-image: linear-gradient(
            to right,
            #6296CB,
            #6296CB 50%,
            #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        
         &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $theme-blue;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }
        &:hover,&:active{
             background-position: 0;
        }
        &:hover::after ,&:active::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    @media screen and (min-width: 991px) {
        .main-navigation .hdr_menu{
            gap:2.5rem;
        } 
        .main-navigation{
            display: block;
            position: relative;
            right: auto;
            height: auto;
            width: auto;
            background-color: transparent;
        }
        .main-navigation .hdr_menu{
            flex-direction: row;
        }
        .mobile-menu{
            display: none;
        }
        .get-in-touch{
            position: relative;
            right: auto;
        }
        .main-navigation li a{
            color: $theme-dark-grey;
            font-size: clamp(16px, 0.5vw + 14px, 18px) ;
            &::after {
                background: $theme-blue;
            }
        }
        
    }
     @media screen and (min-width: 1180px) {
        .main-navigation .hdr_menu{
            gap:4rem;
        } 
    }
    @media screen and (min-width: 1300px) {
        font-size: 1.8rem;
    }
    
}
@keyframes stickyFade {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}