@import "../styles/variables";

.highlight-blog-sec{
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media screen and (min-width: $md) {
		padding-top: 5rem;
        padding-bottom: 4rem;
	}
	@media screen and (min-width: $xl) {
		padding-top: 8rem;
        padding-bottom: 7rem;
	}
	@media screen and (min-width: $xxl) {
		padding-top: 10rem;
        padding-bottom: 8rem;
	}
    .grid-blog-area{
        .blog-item{
            transition: 0.7s ease all;
            cursor: pointer;
            a{
                text-decoration: none;
            }
            background-color: transparent;
            .top-bar{
                margin-bottom: 2rem;
                background-color: $theme-grey;
                min-height: 13rem;
                max-height: 20rem;
                overflow: hidden;
                border-radius: 1.2rem;
                @media screen and (min-width: $md) {
                    min-height: 44rem;
                    max-height: 44rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    min-height: 13rem;
                    max-height: 20rem;
                    transition: 0.7s ease all;
                    @media screen and (min-width: $md) {
                        min-height: 44rem;
                        max-height: 44rem;
                    }
                }
            }
            &:hover{
                transition: 0.7s ease all;
                .top-bar{
                    img{
                        transform: scale(1.1);
                        transition: 0.7s ease all;
                    }
                }
               .readmoreLink{
                    transition: 0.7s ease all;
                    text-decoration: underline;
                    &:visited,&:focus-within,&:focus-visible{
                        color:$secondary-color;
                    }
               }
            }
        }
        .info-bar{
            display: flex;
            gap: 2.4rem;
            margin-bottom: 2rem;
            align-items: center;
            .date,.place{
                color: rgba($secondary-color,0.8);
                font-size: 1.4rem;
                margin-bottom: 0.4rem;
                @media screen and (min-width: $md) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: $lg) {
                    font-size: 1.6rem;
                }
            }
            .item{
                position: relative;
                &::after{
                    content: "";
                    background: url('../../public/assets/blogs/slide.svg') center no-repeat;
                    background-size: contain;
                    width: 0.7rem;
                    height: 2.5rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
                 &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        .btm-bar{
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            flex-direction: column;
            .title-tag{
                font-size: 2.2rem;
                line-height: 1.3;
                color:$theme-black;
                margin-bottom: 1rem;
                @media screen and (min-width: $sm) {
                    font-size: 2.4rem;
                }
                @media screen and (min-width: $md) {
                    font-size: 2.6rem;
                }
                @media screen and (min-width: $lg) {
                    font-size: 2.8rem;
                }
            }
            .date{
                color: rgba($secondary-color,0.8);
                font-size: 1.4rem;
                margin-bottom: 0.4rem;
                @media screen and (min-width: $md) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: $lg) {
                    font-size: 1.6rem;
                }
            }
            .content{
                overflow: hidden;
                padding-right: 1.5rem;
                max-width: 100%;
                margin-bottom: 2rem;
                @media screen and (min-width: $md) {
                    max-width: 90.4rem;
                }
                p{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;       /* Number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 0;
                    line-height: 3rem;
                }
                
            }
            .desc-tag{
                color: rgba($secondary-color,0.8);
                font-size: 1.5rem;
                line-height: 2.5rem;
                @media screen and (min-width: $md) {
                    font-size: 1.6rem;
                }
                @media screen and (min-width: $lg) {
                    font-size: 1.8rem;
                }
            }
        }
        .single-grid-container{
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            flex-wrap: wrap;
            flex-direction: column;
            @media screen and (min-width: $md) {
              flex-wrap: nowrap;
              flex-direction: row;
              gap: 2rem;
            }
            @media screen and (min-width: $lg) {
              flex-wrap: nowrap;
              gap: 3rem;
            }
        }
    }
}