@import "../styles/variables";

.mf-cursor{position:fixed;top:0;left:0;z-index:250;direction:ltr;contain:layout style size;pointer-events:none;transition:opacity .3s,color .4s}
.mf-cursor:before{content:"";position:absolute;top:-24px;left:-24px;display:block;width:50px;height:50px;transform:scale(0.2);background: $theme-blue;border:2px solid $theme-blue;opacity:.4
;border-radius:50%;transition:transform .25s ease-in-out,opacity .1s}
.mf-cursor.-inverse{color:#F7FFEF}
@supports(mix-blend-mode: exclusion)
{.mf-cursor.-exclusion{mix-blend-mode:exclusion}
.mf-cursor.-exclusion:before{background: #1E1E1E;
}}
.mf-cursor.-pointer:before{transform:scale(0.15)}
.mf-cursor.-text:before{opacity:.85;transform:scale(1.5)}
.mf-cursor.-text.-active:before{transform:scale(1.1);transition-duration:.2s}
.mf-cursor.-icon:before{transform:scale(1.45)}
.mf-cursor.-icon.-active:before{transform:scale(1.4)}
.mf-cursor.-hidden:before{transform:scale(0)}
.mf-cursor.-text .mf-cursor-text,.mf-cursor.-icon .mf-cursor-text{opacity:1;transform:scale(1)}
.mf-cursor-media{position:absolute;width:125px;height:125px;margin:-200px 0 0 -200px}
.mf-cursor-media img,.mf-cursor-media video{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:50%}
@supports(object-fit: cover){.mf-cursor-media img,.mf-cursor-media video{position:static;width:100%;height:100%;object-fit:cover;transform:translateZ(0)}}
.mf-cursor-media-box{position:relative;width:100%;height:100%;overflow:hidden;transform:scale(0) translateZ(0);padding:1px;opacity:0;border-radius:50%;transition:transform .35s,opacity .2s .2s}
.mf-cursor.-media .mf-cursor-media-box{opacity:1;transform:scale(0.696);transition-duration:.4s,.4s;transition-delay:0s,0s}/*# sourceMappingURL=mouse-follower.min.css.map */
.mf-cursor .mf-cursor-media {
    margin-left: -4.375rem;
    margin-top: -4.375rem;
    // height: 8.75rem;
    // width: 8.75rem;
}
.mf-cursor-text{
    position:absolute;
    top:-18px;left:-18px;
    width:36px;height:36px;
    display:flex;align-items:center;
    justify-content:center;transform:scale(0) rotate(10deg);opacity:0;
    color:#FFF;
    font-size:14px;
    line-height:18px;
    text-align:center;
    transition:opacity .4s,transform .3s;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        font-size:16px;
        line-height:20px;
    }
}

.mf-cursor::before {
    left: -1.5rem;
    top: -1.5rem;
    height: 10rem;
    width: 10rem;
}
.mf-cursor.-text::before {
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    opacity: 1;
    border-radius: 50%;
    font-weight: 500;
    @media screen and (min-width: 768px) {
         width: 7rem;
        height: 7rem;
    }
}



