@import "../styles/variables";

.services-why-3col{
    padding: 5rem 0 5rem 0;
    @media screen and (min-width: 991px) {
        padding: 8rem 0 10rem 0;
    }
     @media screen and (min-width: 1180px) {
        padding: 10rem 0 15rem 0;
    }
    .col3-gridarea{
        row-gap: 6.3rem;
    }
    .services-why-3col-area{
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
         @media screen and (min-width: 991px) {
            padding-bottom: 5rem;
        }
        @media screen and (min-width: 1180px) {
            padding-bottom: 7rem;
        }
    }
    .service-why-griditem{
        width: 100%;
        border: 1px solid #C0CFDF40;
        transition: 0.7s ease all;
        padding: 0 3rem 2.5rem;
        border: 1px solid rgba($theme-blue,0.15);
        @media screen and (min-width: 991px) {
            padding: 0 2.4rem 2.4rem;
        }
        @media screen and (min-width: 1180px) {
            padding:0 3rem 2.4rem;
        }
        &:hover{
            box-shadow: 0px 10px 35px 0px #6296CB40;
            transition: 0.7s ease all;
        }
        .icon-blk{
            min-width: 6.6rem;
            max-width: 6.6rem;
            max-height: 6.6rem;
            min-height: 6.6rem;
            display: flex;  
            justify-content: center;
            align-items: center;
            background: $theme-white;
            border: 1px solid $theme-blue;
            border-radius: 50%;
            padding:1.5rem ;
            margin-top: -3.3rem;
            img{
                width: 100%;
                height: auto;
                max-width: 3.5rem;
                max-height: 3.5rem;
                object-fit: contain;
            }
            
        }
        .btm-bar{
            padding-top: 1.2rem;
            p{
                display: -webkit-box;        
                -webkit-box-orient: vertical; 
                -webkit-line-clamp: 7;       
                overflow: hidden;            
                text-overflow: ellipsis;
            }
            h6{
                font-family: $primary_font;
                font-weight: 500;
                color:$theme-black;
            }
            .text-blk{
                margin-bottom: 0.5rem;
            }
        }
    }
     .counter-block-bar{
        background-color: $secondary-color;
        display: flex;
        justify-content: space-evenly;
        gap: 0.5rem;
        padding: 3rem;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        &::before{
             content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../../public/assets/counter-bar.png') no-repeat top center;
            background-size: cover;
        }
        @media screen and (min-width: 680px) {
           padding: 4rem;
            gap: 1rem;
        }
        @media screen and (min-width: 991px) {
            padding: 6rem 5rem;
            gap: 2rem;
        }
         .counter-blk{
            display: flex;
            justify-content: center;
            align-items: center;
        }
         h3{
            font-size: clamp(2.5rem, 2.5vw + 1rem, 4.5rem);
            line-height: 1;
            color:$theme-white;
             @media screen and (min-width: 1300px) {
                font-size: 4.5rem;
            }

        }
         .counter-text{
            font-size: clamp(14px, 1vw + 0.5rem, 22px);
            font-weight: 400;
            color: $theme-grey;
             @media screen and (min-width: 1300px) {
                font-size: 2.2rem;
            }
        }
        .counter-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width:80%;
            gap:1rem 0.5rem;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            &::after{
                content: "";
                background-color: rgba(#6BEFE4,0.5);
                width: 4.9rem;
                height: 0.1rem;
                position: absolute;
                bottom: 0;
            }
            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
                &::after{
                    display: none;
                }
            }
            @media screen and (min-width: 680px) {
                width:calc(33.33% - 1rem);
                margin-bottom: 0;
                 padding-bottom:0;
                  &::after{
                    right: 0;
                    top:50%;
                    transform: translateY(-50%);
                    width: 0.1rem;
                    height: 4.9rem;
                }
            }
            @media screen and (min-width: 768px) {
                width:calc(25% - 2rem);
            }
            
        }
    }
    
}