
$primary-color: #6C6C6C;
$secondary-color: #000D1B;
$theme-light-grey:#4A4A4A;
$theme-dark-grey:#1E1E1E;
$theme-grey:#D9D9D9;
$theme-blue:#6296CB;
$theme-white:#FFFFFF;
$theme-black:#000000;
$theme-yellow:#FFCC02;
$theme-red:red;

/* fonts */
$primary_font:"Mulish", sans-serif;
$secondary_font: "DM Serif Display", serif;

/* breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
$xxl: 1440px;
/**********************************/
$grid_gap: 0 20px;